{% extends 'base.html' %}
 {%block strona%}
    {%if user.is_authenticated  %}
    <form id="formularz2" method="post">
      {% csrf_token %}
      <H2>Tytuł Książki</h2>
        <h2>{{formularz2.ksiazka}}</h2>
      <H2>Autor Recenzji</h2>
        {{formularz2.autor_rec}}
            <H2>Ocena</h2>
            {{formularz2.ocena}}
            <H2>Treść recenzji</h2>
            {{formularz2.opinia}}
           <br>
         <br>
       <br>
    <input type="submit"  class="btn btn-success btn-lg" />
  </form>
  {%endif%}
  <div class="container mt-5 w-50">
    {% csrf_token %}
    {% block javascript %}
    <script>
      $(document).ready(function () {
      $.ajax({
          data: $(this).serialize(),
          type: $(this).attr('method'),
          success: function (response) {
          },
              error: function (response) {
                        }
            });})
    </script>
    {% endblock javascript %}
    {% endblock %}
