{% extends 'base.html' %}
<body>
  {% block strona %}
    {%if user.is_authenticated  %}
    <form id="formularz" method="post">
      {% csrf_token %}
      <H2>Tytuł Książki</h2>
        <h2>{{formularz.tytul}}</h2>
      <H2>Autor</h2>
        {{formularz.autor}}
        <H2>Opis</h2>
          {{formularz.opis}}
          <H2>Kategoria</h2>
          {{formularz.kategoria}}
        <br>
        <br>
      <br>
    <input type="submit"  class="btn btn-success btn-lg" />
  </form>
  {%else %}
  {%endif%}
  <div class="container mt-5 w-50">
    {% csrf_token %}
    {% block javascript %}
<script>
      $(document).ready(function () {
      $.ajax({
          data: $(this).serialize(),
          type: $(this).attr('method'),
          success: function (response) {
          },
              error: function (response) {
                        }
            });})
    </script>
    {% endblock javascript %}
    {% endblock %}

</body>
