{% extends 'base.html' %}
{% block strona %}
      <form method="post" >
      <li class="nav-item">
        {% csrf_token %}
          <input type="text" id="filter"></input><br><br>
          <li>
          <a href="javascript:przekieruj();">Filtruj</a>
        </li>
      </li>
    </form>
    </ul>
    </form>
  </nav>
  </div>
  <div id=lista_ksiazek>
  {% csrf_token %}
  {% for ksiazeczka in object_list_serialized %}
  <div class="card">
  <div class="card-header">
  <a style="font-family:'Black Adder'; font-size: 40px; Text-decoration: none" href="{% url 'szczegóły książki' ksiazeczka.pk %}" >
      {{ksiazeczka.tytul}}
  </a>
  <a style="font-family:'Black Adder'; font-size: 25px; Text-decoration: none">
     - {{ksiazeczka.autor}}
   </a>
  <br>
  <a style="font-family:'Black Adder'; font-size: 20px;" id=opis>
    {{ksiazeczka.opis}}
  </a>
</br>
</div>
{% endfor %}
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
$.ajax({
type: "POST",
url: "home",
async: true,
crossDomain:true,
data: {'ksiazka': 'ksiazka', 'object_list_serialized':'object_list_serialized', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
success:function ksiazki_up(ksiazka, object_list){
  $('#lista_ksiazek').load(' #lista_ksiazek');
   console.log("Done");
   $("#ksiazki_up").load("home",ksiazka);
     setTimeout( function() {
     Aktualizuj(object_list);
     setInterval(ksiazki_up(ksiazka),5000);
   },5000)
       },
})})
function Aktualizuj(ksiazka){
  ksiazki = document.getElementById('filter').value;
  $('<div />').append(ksiazka).find('#lista_ksiazek').html();
  $('#lista_ksiazek').html(ksiazka);
  return ksiazki;
}
function przekieruj() {
tytul = document.getElementById('filter').value;
adres = "/filter/"+tytul;
return top.location.href = adres;
}
function czy_puste(ksiazki){
if (!$.trim(ksiazki)){
    return False;
}else{
  return True;
}
}
</script>
{% endblock %}
