{% extends 'base.html' %}
{% load index %}
{%block nav%}
{%if user.is_authenticated  %}
<li class="nav-item">
<input type="text" id="filter"></input><br><br>
</li>
<li class="nav-item">
 <a href="javascript:przekieruj();">Filtruj</a>
 {% csrf_token %}
</li>
<li class="nav-item">
      <select id="filtr_kat" >
      {% for kategoria in kategorie %}
      <option value="{{ kategoria }}">{{kategoria.nazwa}}</option>
      {% endfor %}
      </select>
      {% csrf_token %}
     <a href="javascript:przekieruj2();">Wybierz Kategorię</a>
  </li>
  {%endif%}
{%endblock%}
{% block strona %}
 <nav>
    <div id=lista_ksiazek>
    {% csrf_token %}
    {% for ksiazka in ksiazki %}
    <div class="card">
    <div class="card-header">
    <a style="font-family:'Black Adder'; font-size: 40px; Text-decoration: none" href="{% url 'szczegóły książki' ksiazka.pk %}" >
      {{ksiazka.tytul}}
    </a>
    <a style="font-family:'Black Adder'; font-size: 25px; Text-decoration: none">
       - {{ksiazka.autor}}
     </a>
    <br>
    <a style="font-family:'Black Adder'; font-size: 20px;" id=opis>
      {{ksiazka.opis}}
    </a>
    <br>
    <a style="font-family:'Black Adder'; font-size: 20px;">
      {%with ks=ksiazka.pk|add:"-1"%}
        {{srednie_oceny|index:0|index:ks}}
        {%endwith%}
    </a>
  </div>
  {% endfor %}
</div>
  </div>
  {% endblock %}
</nav>
