{% extends 'base.html' %}
{% block strona %}
    <div id=lista_ksiazek>
    {% csrf_token %}
    {% for ksiazka in object_list %}
    <div class="card">
    <div class="card-header">
    <a style="font-family:'Black Adder'; font-size: 40px; Text-decoration: none" href="{% url 'szczegóły książki' ksiazka.pk %}" >
      {{ksiazka.tytul}}
    </a>
    <a style="font-family:'Black Adder'; font-size: 25px; Text-decoration: none">
       - {{ksiazka.autor}}
     </a>
    <br>
    <a style="font-family:'Black Adder'; font-size: 20px;" id=opis>
      {{ksiazka.opis}}
    </a>
  </div>
  {% endfor %}
</div>
  </div>
<script type="text/javascript">
$(document).ready(function () {
$.ajax({
  type: "POST",
  url: "home",
  async: true,
  crossDomain:true,
  data: {'ksiazka': 'ksiazka', 'object_list':'object_list_serialized', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
  success:function ksiazki_up(ksiazka, object_list){
    $('#lista_ksiazek').load(' #lista_ksiazek');
     console.log("Done");
     $("#ksiazki_up").load("home",ksiazka);
       setTimeout( function() {
       Aktualizuj(object_list);
       setInterval(ksiazki_up(ksiazka),5000);
     },5000)
         },
  })})
  function Aktualizuj(ksiazka){
    ksiazki = document.getElementById('filter').value;
    $('<div />').append(ksiazka).find('#lista_ksiazek').html();
    $('#lista_ksiazek').html(ksiazka);
    return ksiazki;
}
function przekieruj() {
  tytul = document.getElementById('filter').value;
  adres = "/filter/"+tytul;
  return top.location.href = adres;
}
function czy_puste(ksiazki){
  if (!$.trim(ksiazki)){
      return False;
  }else{
    return True;
  }
}
</script>
{% endblock %}
