<head>
  <title>Wypożyczalnia</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load crispy_forms_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <form id="FormularzKsiazek" method="Post">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Wypożyczalnia Książek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="home">Strona Główna</a>
                <a class="nav-item nav-link active" href="#">Dodaj Książkę<span class="sr-only">*</span></a>
            </div>
        </div>
    </nav>
<body>
  {% csrf_token %}
  {{ form|crispy  }}
    <div class="container mt-5 w-50">
            <input type="submit" name="signupSubmit" class="btn btn-success btn-lg" />
    </div>
    {% block javascript %}
    <script>
        $(document).ready(function () {
            $('#contactForm').submit(function () {
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    success: function (response) {
                      form.save()
                    },
                    error: function (response) {
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
  </form>
    {% endblock javascript %}
</body></html>
